$primary-color: #1169CC;
$secondary-color-1: #2D55FB;
$secondary-color-2: #316BE6;

$blue100-color: #72A8E6;
$blue100a-color: rgba(#72A8E6, 0.12);


$text-primary-color: #070C2B;
$text-secondary-color: #4B5263;
$text-thertiary-color: #9CA0AF;
$grey-color: #D1D4DB;


$red700-color: #E00F0F;
$red500-color: #FFACB1;
$red500a-color: rgba(#E00F0F, 0.12);

$orange300-color: #FF9B01;
$yellow300-color: #FFC601;
$yellow100-color:  #FFE073;

$green500-color: #0BBA1D;
$green400a-color: rgba(#0BBA1D, 0.28);
$green100-color: #43D836;

$white-color: #FFFFFF;
$white300-color: #F3F5F7;
$white100-color: #F9FAFC;
$white50-color: #FCFDFF;


