@import 'colors';
@import 'mixin';

.button {
    width: 100%;
    padding: 13px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease-in-out;

    @include flexbox;
    @include headline-regular;


    &__btn {
        &--blue {
            background-color: $secondary-color-2;
            color: $white-color;


            &:hover {
                background-color: $primary-color;
                color: $white-color;
            }
        }

        &--white {
            background-color: $white-color;
            color: $text-primary-color;
            border: 1px solid $grey-color;


            &:hover {
                background-color: $white100-color;
                color: $text-primary-color;
            }
        }

        &--grey {
            background-color: $text-thertiary-color;
            color: $white-color;



            &:hover {
                background-color: $grey-color;
                color: $white-color;
            }
        }
    }

    &__icon {
        padding: 13px 32px 13px 13px;
        @include flexbox(flex, row, center, space-between);
        gap: 4px;
        @include headline-regular;
    }



}



.textfield {
    width: 100%;
    padding: 13px 15px;
    border-radius: 12px;
    outline: none;
    border: 1px solid transparent;

    &::placeholder {
        color: $text-thertiary-color;
    }

    &:focus {
        border: 1px solid $secondary-color-2;
        caret-color: $secondary-color-2;
    }
  



    &__white {
        background-color: $white-color;

        &--error {
            border: 1px solid $red700-color;
        }
    }


    &__grey {
        background-color: $white300-color;

        &--error {
            border: 1px solid $red700-color;
        }
    }
    &__info{
        @include subhead-regular;
        color: $text-thertiary-color;
    }



    &__label {
        @include subhead-regular;
        margin-bottom: 6px;
    }

}

.input-block {
    @include flexbox(flex, column, start);
}

.checkbox-group {
    @include flexbox(flex, row, center, start);
    gap: 8px;

    &__check {
        appearance: none;
        width: 18px;
        height: 18px;
        border: 1px solid $grey-color;
        border-radius: 5px;
        position: relative;
        cursor: pointer;

        &:checked {
            background-color: $secondary-color-2;
            border-color: $secondary-color-2;

            &::after {
                content: '';
                position: absolute;
                top: -2px;
                left: -2px;
                width: 20px;
                height: 20px;
                mask: url('/assets/icons/ci_circle-check.svg') no-repeat center;
                background-color: $white-color;
                mask-size: cover;

            }
        }
    }

    &__label {
        @include subhead-regular;
        color: $text-secondary-color;
    }
}




.snackbar {
    border-radius: 10px;
    padding: 10px 12px;
    @include flexbox(flex, row, center, space-between);

    &__left {
        @include flexbox(flex, row, center, start);
        gap: 10px;
    }

    &__right {
        @include flexbox(flex, row, center, end);
    }

    &--error {
        background-color: #FBE2E2;

       

    }

    &--info {
        background-color: #EEF5FC;

    }

    &--success {
        background-color: #D3F5D6;

    }

    &--warning {
        background-color: #FFE073
    }
    &__icon{
        width: 24px;
        height: 24px;
        background-color: $text-primary-color;
        &--close {
            background-color: $red700-color;
        }
        &--check {
            background-color: $green500-color;
        }
        &--info {
            background-color: $primary-color;
            transform: rotate(180);
        }
        &--warning {
            background-color: #FF7B01;
        }
    }
    &__status{
        @include subhead-bold;
    }
}



.dropdown-menu {
    display: none;
    position: absolute;
    background-color: $white-color;
    color: $text-primary-color;
    min-width: 210px;
    border: 1px solid $blue100a-color;
    box-shadow: 0px 15px 34px 0px rgba(#9BA3F2, 0.2);

    z-index: 1;
    border-radius: 12px;
    top: 50px;
    right: 0;
    left: auto;
    padding: 15px 0;
    margin: 0;

}

.dropdown-menu a {
    padding: 12px 26px;
    text-decoration: none;
    display: block;
    @include subhead-medium;
    color: $text-primary-color;
}


.dropdown-menu a:hover {
    background-color: $white100-color;
    color: $text-primary-color;
}






.notification {
    position: absolute;
    background-color: $red700-color;
    color: $white-color;
    @include text-regular;
    padding: 0 6px;
    border-radius: 5px;
    right: 55px;
}

.tab-choice{
    position: absolute;
    color: $text-thertiary-color;
    @include text-regular;
    right: 55px;
}


.radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    width: 100%;
    height: 100%;
    margin-left: -15px;

    top: 0;
}

.radio-custom {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    background-color: $white50-color;
    border: 1px solid $grey-color;
    border-radius: 50%;
    cursor: pointer;
}


.radio:checked~.radio-custom {
    background-color: $secondary-color-2;
    border: 1px solid $secondary-color-2;
}

.radio-custom:after {
    content: "";
    position: absolute;
    display: none;
}

.radio:checked~.radio-custom:after {
    display: block;
}


.radio-custom:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $white-color;
}




.toggle-switch {
    input[type="checkbox"] {
        display: none;
    }

    label {
        display: inline-block;
        width: 53px;
        height: 28px;
        background-color: $grey-color;
        border-radius: 15px;
        position: relative;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    label {

        &:before {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: 24px;
            height: 24px;
            background-color: $white-color;
            border-radius: 50%;
            transition: left 0.3s;
        }
    }

    display: flex;
}




.toggle-switch input[type="checkbox"]:checked+label {
    background-color: $secondary-color-2;

}



.toggle-switch input[type="checkbox"]:checked+label:before {
    left: calc(100% - 27px);

}

.toggle-switch input[type="checkbox"]:disabled + label {
    background-color: $text-thertiary-color; /* Цвет фона отключенного переключателя */
    cursor: not-allowed; /* Меняем курсор на неразрешающий */
}

.toggle-switch input[type="checkbox"]:disabled + label:before {
    background-color: $grey-color; /* Цвет точки (handle) отключенного переключателя */
}



.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 

    &__title{
        @include title-3-bold;
        border-bottom: 1px solid rgba( #72A8E6,  0.12);
        padding-bottom: 10px
    }
    &__desc{
        @include headline-regular;
        padding-top: 10px;
    }
}

.modal-content {
    background-color: $white-color;
    margin: 15% auto;
    padding: 30px;

    width: 60%;
    max-width: 450px;
    border-radius: 12px;
    position: relative;
}


.modal-buttons {
    @include flexbox(flex, row, center, end);
    margin-top: 20px;
 
}

.modal-buttons .button {
    margin-left: 10px;
    width: 110px;
    padding: 6px 20px;
}



.radio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.radio-container h2 {
    margin-bottom: 20px;
}

.radio-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 6px 40px;
    outline: 2px solid $secondary-color-2;
    cursor: pointer;
    
    border-radius: 12px;
    transition: background-color 0.3s;
    background-color: $white-color;
    color: $text-primary-color;
    @include caption-1-regular;


    &.selected {
        outline: 2px solid #0B44D7;
        border-color: $secondary-color-2;
    }
  

   
}

.radio-block input[type="radio"] {
    display: none;
}

.radio-block .radio-title {
    flex-grow: 1;
}

.radio-block .checkmark {
    width: 14px;
    height: 14px;
 
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s;
}

.radio-block .checkmark i {
    background-color: $text-primary-color;
    opacity: 0;
    transition: opacity 0.3s;
}

.radio-block:hover,
.radio-block:checked{
    outline: 2px solid #0B44D7;
    border-color: $secondary-color-2;
}



.radio-block input[type="radio"]:checked + .radio-title + .checkmark {
    display: flex;

}



.radio-block input[type="radio"]:checked + .radio-title + .checkmark i {
    opacity: 1;
}









input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

.slider-range {
  height: 4px;
  position: relative;
  background: #BAC1FF;

}
.slider-range .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  background: $secondary-color-2;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: $secondary-color-2;
  border: 2px solid $white-color;
  pointer-events: auto;
  appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: $secondary-color-2;
  border: 2px solid $white-color;
  pointer-events: auto;
  appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.tag-item{
    padding: 2px 8px;
    border-radius: 6px;
    background-color: #E5EBFF;
    display: inline-block;
}

.tags{
    &__icon{
        background-color: $white-color;
        width: 12px;
        height: 12px;
    }
    &__item{
        @include caption-2-regular;
        border-radius: 4px;
        padding: 4px 8px;
        color: $white-color;
        @include flexbox(flex, row, center, start);
        gap: 4px;
        &--verified{
            background-color: $secondary-color-2;
        }
        &--guarantee{
            background-color: $green500-color;
        }
    }
}