@import 'colors';

@import 'mixin';
@import 'components';


.header {
    background-color: $white-color;
    &__top{
        border-bottom: 1px solid rgb(#A6B0C3, 0.12);
    }
    &__block{
        @include flexbox(flex, row, center, space-between);
    }
    &__block-item{
        @include flexbox(flex, row, center, start);
        gap: 16px;
    }
    &__social{
        @include caption-2-regular;
        color: #8587B4;
        @include flexbox(flex,row,center,start);
        gap: 4px;
        &:hover{
            color: #8587B4;
        }
        padding: 12px 0;
    }
    &__social-icon{
        background-color: #8587B4;
    }

  
   

    
    &__link-icon{
        background-color: $text-primary-color;
        width: 20px;
        height: 20px;

    }

    &__bottom{
        padding: 10px 0;
    }

    &__title{
        @include title-2-bold;
    }

}


// Navigation styles
.nav {
    background-color: $white-color;


    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        margin-right: 38px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__icon{
        background-color: $text-primary-color;
        width: 20px;
        height: 20px;
        margin-right: 6px
    }

    &__user-img{
        width: 20px;
        height: 20px;
        border-radius: 100%;
        margin-right: 6px;
    }
    &__link {
        @include title-4-regular;
        color: $text-primary-color;
        text-decoration: none;
        position: relative;
        padding-bottom: 19px;

        &:hover,
        &--active {
            color: $secondary-color-2;
            .nav__icon{
                background-color: $secondary-color-2;
            }
        }

        &--active {
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 4px;
                background-color: $secondary-color-2;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
}



/* Для экранов шириной от 1200px до 1439px -----------------------*/
@media (max-width: 1439px) and (min-width: 1200px) {
    
    .header{
        .logo-block{
            gap: 5px;
        }
        .logo-icon{
            width: 60px;
        }
        .logo-text{
            width: 100px;
        }
        .nav__item {
            margin-right: 15px;
            &:last-child{
                margin-right: 0;
            }
        }
    }


}

@media (max-width: 1199px) {
   

}

/* Для экранов шириной от 1024px до 1199px -----------------------*/
@media (max-width: 1199px) and (min-width: 1024px) {
    .header{
        .logo-block{
            gap: 5px;
        }
        .logo-icon{
            width: 40px;
        }
        .logo-text{
            width: 80px;
        }
        .nav__item {
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
        }
    }

}

.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav, .header__right {
    display: flex;
}

.burger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 24px;
    height: 24px;
}



.mobile-nav {
    opacity:  0;
    position: absolute;
    top: 106px; 
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease-in-out;
    @include flexbox(flex,row, center, center);
  
}

@media (max-width: 1023px) {
    .header__nav, .header__right {
        display: none;
    }
    .burger-menu {
        display: flex;
    }
    .nav__list{
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    .nav__item{
        margin: 0;
    }
}

.mobile-nav.open {
    opacity: 1;
    height: 400px; 
    transition: height 0.3s ease-in-out;
}

.burger-menu div {
    width: 28px;
    height: 3px;
    background-color: $text-primary-color;
    transition: all 0.3s ease-in-out;
    border-radius: 12px;
}

.burger-menu.open .line1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.burger-menu.open .line2 {
    opacity: 0;
}

.burger-menu.open .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}




/* Для экранов шириной от 768px до 1023px -----------------------*/
@media (max-width: 1023px) and (min-width: 768px) {

  
}