@import 'colors';
@import 'mixin';

body {
    background-color: $secondary-color-2;
}


.main {
    background-image: url('../assets/img/pattern-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    @include flexbox(flex, row, center, center);




    &__login-content {
        box-shadow: -29px 30px 87.7px 0px rgba(#2D33C2, 0.25);
        border-radius: 24px;
        background-color: $white-color;
        padding: 16px;
        @include flexbox(flex, row, center, space-between);
        gap: 16px;

    }

    &__login-top {
        padding-bottom: 24px;
    }

    &__login-title {
        @include title-2-bold;
    }

    &__login-banner {
        width: 100%;
        border-radius: 14px;
    }

    &__login-form {
        padding: 30px;
    }

    &__login-row {
        @include flexbox(flex, row, center, space-between);
    }

    &__login-info {
        @include flexbox(flex, column, stretch);
        gap: 28px;

    }

    &__login-link {
        @include subhead-regular;
        color: $primary-color;
        border-bottom: 1px solid $primary-color;

        &:hover {
            border-color: $white-color;
        }
    }

    &__login-sumbit {
        @include flexbox(flex, column, stretch);
        gap: 12px;
    }

    &__noacc {
        @include subhead-regular;
        color: $text-secondary-color;
    }

    &__login-content-block {
        width: 50%;
    }

    &__btn-block {
        display: inline-block;
    }

    &__login-another {
        padding-top: 42px
    }

    &__login-buttons-block {
        @include flexbox(flex, row, center, space-between);
        padding-top: 20px;
    }

    &__btn-icon {
        background-color: $text-primary-color;
    }

    &__line-over-text {
        position: relative;
        width: 100%;
        text-align: center;
    }

    &__line-over {
        width: 100%;
        height: 1.4px;
        background-color: #D9DAF5;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
    }

    &__over-text {
        display: inline-block;
        background-color: $white-color;
        padding: 0 20px;
        position: relative;
        z-index: 2;
        @include subhead-regular;
    }

    &__btn-social {
        background-color: $white-color;
        border: 1px solid #D9DAF5;
        border-radius: 70px;
        padding: 10px 20px;
        @include flexbox;
        transition: background-color .3s ease-in-out;
        width: calc((100% / 3) - 8px);

        &:hover {
            background-color: $white100-color;
        }
    }

    &__agreement-text {
        text-align: center;
        @include caption-1-regular;
        padding-top: 50px;

        a {
            color: $primary-color;
            border-bottom: 1px solid $primary-color;

            &:hover {
                border-color: $white-color;
            }
        }
    }


    /* Для экранов шириной от 768px до 1023px -----------------------*/
    @media (max-width: 991px) and (min-width: 768px) {
        &__login-another {
            padding-top: 15px;
        }

        &__login-info {
            gap: 10px;
        }

        &__login-form {
            padding: 10px;
        }

        &__login-content {
            gap: 5px;
        }
    }

    /* Для экранов шириной от 768px до 1023px -----------------------*/
    @media (max-width: 768px) {
        &__login-content-block {
            &:first-child {
                display: none;
            }
        }

        &__login-content {
            flex-direction: column;
        }

        &__login-content-block {
            width: 100%;
        }
    }



    /* Для экранов шириной от 480px до 767px -----------------------*/
    @media (max-width: 767px) and (min-width: 480px) {}

    /* Для экранов шириной от 320px до 479px -----------------------*/
    @media (max-width: 479px) and (min-width: 320px) {}

    /* Для экранов шириной до 319px -----------------------*/
    @media (max-width: 319px) {}



}

@media (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}