@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}



@font-face {
    font-family: 'Bebas Neue';
    src: url('../assets/fonts/bebasneueregular.woff2') format('woff2'),
    url('../assets/fonts/bebasneueregular.woff') format('woff'),
    url('../assets/fonts/bebasneueregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../assets/fonts/bebasneuebold.woff2') format('woff2'),
     url('../assets/fonts/bebasneuebold.woff') format('woff'),
      url('../assets/fonts/bebasneuebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
