@charset "UTF-8";
.table-block__header:nth-child(1) {
  min-width: 350px;
  text-align: center;
}
.table-block__header:nth-child(2) {
  min-width: 150px;
  text-align: center;
}
.table-block__header:nth-child(3) {
  min-width: 150px;
  text-align: center;
}
.table-block__header:nth-child(4) {
  min-width: 150px;
  text-align: center;
}
.table-block__header:nth-child(5) {
  min-width: 170px;
  text-align: center;
}
.table-block__header:nth-child(6) {
  min-width: 200px;
}
.table-block__data:nth-child(2) {
  text-align: center;
}
.table-block__data:nth-child(3) {
  text-align: center;
}
.table-block__data:nth-child(4) {
  text-align: center;
}
.table-block__data:nth-child(5) {
  text-align: center;
}

/* Для устройств с экранами шириной от 320px до 480px (например, мобильные телефоны) */
/* Для устройств с экранами шириной от 481px до 768px (например, небольшие планшеты) */
/* Для устройств с экранами шириной от 769px до 1024px (например, большие планшеты и небольшие ноутбуки) */
@media (min-width: 768px) and (max-width: 1023px) {
  .main__drop-block {
    width: calc((100% - 24px) / 2);
  }
}
/* Для устройств с экранами шириной от 1025px до 1280px (например, стандартные ноутбуки) */
/* Для устройств с экранами шириной от 1281px до 1600px (например, большие ноутбуки и настольные мониторы) */
/* Для устройств с экранами шириной от 1601px до 1920px (например, HD мониторы) */
@media (min-width: 1601px) and (max-width: 1919px) {
  .main__drop-block {
    width: calc((100% - 24px) / 2);
  }
}
/* Для устройств с экранами шириной от 1921px до 2560px (например, 2K и 4K мониторы) */
.table-block__status {
  position: relative;
}

.dropdown-content {
  display: none; /* Скрываем дропдаун по умолчанию */
  position: absolute;
  background-color: white;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1000; /* Обеспечиваем отображение поверх других элементов */
}

.table-block__status-item.active .dropdown-content {
  display: block; /* Показываем дропдаун при активации */
}